body {
  padding-top: 50px;
}

.home-panel {
  padding: 40px 15px;
  text-align: center;
}

.base-panel {
  padding: 40px 15px;
}

.news-panel {
}

.media-panel {
}

.blog-panel {
}

.publications-panel {
}

.staff-panel {
}

.news-item-panel {
}

.media-item-panel {
}

.blog-item-panel {
}

.publications-item-panel {
}

.staff-member-panel {
}

.new-item-panel {
}

.edit-item-panel {
}

.publisher-panel {
}

.pass-change-panel {
}

form > p > label {
    display: block;
}

form > p > textarea#id_title {
    height: 2em;
    width: 80em;
}

form > p > input#id_title {
    height: 2em;
    width: 80em;
}

form > p > textarea#id_text {
    height: 10em;
    width: 80em;
}

form > p > textarea#id_description {
    height: 10em;
    width: 80em;
}

form > p > input#id_description {
    height: 10em;
    width: 80em;
}

form > p > input#id_video {
    height: 2em;
    width: 80em;
}

form > p > textarea#id_about {
    height: 10em;
    width: 80em;
}

form > p > input#id_old_password {
    height: 2em;
    width: 40em;
}

form > p > input#id_new_password1 {
    height: 2em;
    width: 40em;
}

form > p > input#id_new_password2 {
    height: 2em;
    width: 40em;
}

ul {
  list-style-type: None;
}

ul > li {
}

