{% extends "revuo/item.html" %}

{% block title %}Blog - {{ item.title }} {% endblock %}
{% block blog_active %}active{% endblock %}

{% block item_body %}
    <div class="blog-item-panel base-panel">
        <h1>{{ item.title }}</h1>
        <p>{{ item.published_at }} by <a href="{% url 'revuo:staff_view' item.author.id %}">{{ item.author }}</a></p>
        <p class="lead">{{ item.description }}</p>
        <div class="row-fluid"><br>
            <div class="col-md-8">
                {{ item.text|safe }}
            </div>
        </div>
    </div>
{% endblock %}
