{% extends "revuo/base.html" %}

{% block title %}Blog{% endblock %}
{% block blog_active %}active{% endblock %}

{% block page_body %}
<div class="container">
    <div class="blog-panel base-panel">
        <h1>Blog</h1>
        <ul name='post_list'>
        {% for post in items_list %}
            <li>
                <h3><a href="{% url 'revuo:item_view' 'B' post.id %}">{{ post.title }}</a></h3><br>
                <span><i>by {{ post.author }} on {{ post.created_at }}</i></span>
                <hr>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
