{% extends "revuo/base.html" %}

{% block title %}Dashboard{% endblock %}
{% block restrict_active %}active{% endblock %}

{% block page_body %}
<div class="container">
    <div class="publisher-panel base-panel">
    <h1>Dashboard</h1>

    {% for section in sections %}
        <h2>{{ section.section }}</h2>
        <div class="row-fluid"><br>
            <div class="span10">
                <table class="table table-striped tabled-bordered">
                    <thead>
                        <tr>
                            <th width="30%">Item</th>
                            <th width="25%">Author</th>
                            <th class="10%">Published</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in section.items %}
                            <tr>
                                <td><a href="{{ item.get_url }}">{{ item.title }}</a></td>
                                <td><a href="{% url 'revuo:staff_view' item.author.id %}">{{ item.author }}</a></td>
                                <td>{{ item.authorized }}</td>
                                <td>
                                    {% if user.author.editor %}
                                        {% if not item.authorized %}
                                            <button type="button" class="btn btn-default" aria-label="Approve Item"
                                                onclick="auth_item('{{ item.get_category }}', '{{ item.id }}')">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-default" aria-label="Suspend Item"
                                                onclick="suspend_item('{{ item.get_category }}', '{{ item.id }}')">
                                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                            </button>
                                        {% endif %}
                                        <button type="button" class="btn btn-default" aria-label="Trash Item"
                                                onclick="del_item('{{ item.get_category }}', '{{ item.id }}')">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    {% endif %}
                                    {% if item.author.user == user %}
                                        <a class="btn btn-default"
                                           href="{% url 'revuo:item_edit' item.get_category item.id %}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No items for this category</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function auth_item(item_category, item_id){
        result = $.get("/restricted/publisher/" + item_category  + "/" + item_id,
            function(data) {
                document.location.reload();
            },
            "json")
    }

    function suspend_item(item_category, item_id){
        result = $.get("/restricted/suspender/" + item_category  + "/" + item_id,
            function(data) {
                document.location.reload();
            },
            "json")
    }

    function del_item(item_category, item_id){
        result = $.get("/restricted/trasher/" + item_category  + "/" + item_id,
            function(data) {
                document.location.reload();
            },
            "json")
    }
</script>
{% endblock %}
