{% extends "revuo/base.html" %}

{% block title %}Edit Item{% endblock %}

{% block page_body %}
<div class="container">
    <div class="edit-item-panel base-panel">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="next" value="/" />
    </form>
    </p>

    </div>
</div>
{% endblock %}
