{% extends "revuo/base.html" %}

{% block title %}
{% endblock %}

{% block page_body %}

    {% if user.is_authenticated and not item.authorized %}
        <p>Pending Authorization</p>
    {% endif %}

    {% block item_body %}
    {% endblock %}

    {% if user.is_authenticated and not item.authorized %}
        <p>
        <input type='button' name='authorize' onclick="auth_item()" value="Authorize"/>
        <input type='button' name='delete' onclick="del_item()" value="Delete"/>
        </p>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
    function auth_item(){
        result = $.get("/restricted/publisher{{ item.get_url }}",
            function(data) {
                document.location.reload();
            }, 
            "json")
    }
    function del_item(){
        result = $.get("/restricted/trasher{{ item.get_url }}",
            function(data) {
                window.location.replace('/');
            },
            "json")
    }
</script>
{% endblock %}
