{% extends "revuo/base.html" %}

{% block title %}New Item{% endblock %}
{% block restrict_active %}active{% endblock %}

{% block page_body %}
<div class="container">
    <div class="new-item-panel base-panel">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
        <input type="hidden" name="next" value="/" />
    </form>

    </div>
</div>
{% endblock %}
