{% extends "revuo/base.html" %}

{% block title %}New Item{% endblock %}

{% block page_body %}
<div class="container">
    <div class="starter-template">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
        <input type="hidden" name="next" value="/" />
    </form>

    </div>
</div>
{% endblock %}
