{% extends "revuo/base.html" %}

{% block title %}Publications{% endblock %}
{% block publications_active %}active{% endblock %}

{% block page_body %}
<div class="container">
    <div class="publications-panel base-panel">
        <h1>Publications</h1>
        <ul name='pubs_list'>
        {% for pub in items_list %}
            <li>
                <h3><a href="{% url 'revuo:item_view' 'P' pub.id %}">{{ pub.title }}</a></h3><br>
                <span><i>by {{ pub.author }} on {{ pub.created_at }}</i></span>
                <hr>
            </li>

        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
