{% extends "revuo/base.html" %}

{% block title %}Login{% endblock %}

{% block page_body %}
<div class="container">
    <div class="login-panel base-panel">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Login</button>
            </p>
        <input type="hidden" name="next" value="/" />
    </form>

    </div>
</div>
{% endblock %}
