{% extends "revuo/base.html" %}

{% block title %}Change Password{% endblock %}

{% block page_body %}
<div class="container">
    <div class="pass-change-panel base-panel">

    {%if form.errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Change</button>
        <input type="hidden" name="next" value="/" />
    </form>

    </div>
</div>
{% endblock %}
